<section class="book">
  <img src="/images/{{book.filename}}" alt="{{book.description}}">
  <div class="book-details">
    <h3>{{book.title}}</h3>
    <p>By: {{book.author}}</p>
  </div>
</section>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments book.comments}}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}
